#map-canvas {
  /*height: 1000px;
  width: 110%;
  verflow-x: visible;
  margin-left:-10px;
  margin-right: -10px */
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0
}

.demo-wrapper {background-color: #000;}

.leaflet-container a.leaflet-popup-close-button {
  color:rgba(6, 162, 190,1) !important;
}

div.leaflet-popup.leaflet-zoom-animated {
  bottom:-10px !important;
  bottom: -10%;
}
.leaflet-popup, .leaflet-zoom-animated{
  background:rgba(0, 0, 0, 0.70);!important;;
  color:rgba(6, 162, 190,1);
  border-style: solid;
  border-width: 2px;
  border-radius: 0px;
  border-color: rgba(6, 162, 190,0.9);
  font-size:16px;
  line-height:24px;
}

/*.leaflet-popup-content {
  background:rgba(0, 0, 0, 0) !important;;
}*/
.leaflet-popup-content-wrapper{
  background-color:rgba(0, 0, 0, 0) !important;;
}
.leaflet-popup-content-wrapper a {
  color:rgba(255,255,255,0.5);
}
/*.custom .leaflet-popup-tip-container {
width:30px;
height:15px;
}*/
.leaflet-popup-tip {
  background-color:rgba(6, 162, 190,0.9) !important;
  box-shadow: none;
  color:rgba(6, 162, 190,1);
  border-style: solid;
  border-width: 2px;
  border-radius: 0px;
  border-color: rgba(6, 162, 190,0.9);
  width:30px;
  height:0px;
}
