#map-canvas {
  /*height: 1000px;
  width: 110%;
  verflow-x: visible;
  margin-left:-10px;
  margin-right: -10px */
  position: fixed;
  top:49px;
  left: 0;
  bottom: 0;
  right: 0
}

#github {
  font-size: 3em;
  color: #bebebe;
  margin-right: 8px;
  margin-top: 2px;

}

#brand, #icon {
  color:rgba(214, 214, 214, 1) !important;
}

.box {
  float:left;
  width:100%;
  font-size: 1.2em;
}

.image{
  float:left;
  width:10%;
}

.text{
  float:right;
  width:80%;
  margin-left: 1em;
}

.leaflet-popup-content{
  float:left;
  width:100%;
  background:rgba(0, 0, 0, 0.70)!important;
}

.leaflet-popup-content-wrapper{
  float:left;
  width:100%;
  color:#B0B0B0;
  border-style: solid;
  border-width: 2px;
  border-radius: 0px;
  border-color: #B0B0B0;
  background:rgba(0, 0, 0, 0.70)!important;
}

.leaflet-popup,  .leaflet-zoom-animated {

}

.leaflet-popup-tip {
  background:rgba(0, 0, 0, 0.70)!important;
  box-shadow: none;
  color:#B0B0B0;
  border-style: solid;
  border-width: 2px;
  border-radius: 0px;
  border-color: #B0B0B0;
  width:auto;
  height:0px;
}
